{% load static %}

<html>
    <head>
        <title>
        </title>
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    </head>
    
    <body>
        <div id = "nav">
            <nav>
                <ul>
                    <li><a href="/ingredients">home</a></li>
                    <li><a href="/accounts/register">register</a></li>
                    <li><a href="/accounts/login">login</a></li>
                    <li><a href="/accounts/profile">profile</a></li>
                </ul>
            </nav>
        </div>
        {% block basic_form %}            
        {% endblock %}
    </body>
</html>
