{% extends 'base_template.html' %}
<html>
    <body>
        <h1>INGREDIENT_PROTOTYPE LAYOUT</h1>
        {% block basic_form %}
        <form action="" method="post">
            {% csrf_token %}

            <legend>Form</legend>
                <br><br>    
                Enter URL:
                <br>
                <select name="url">
                    <option>Select dish type</option>
                    <option>Chicken Breast</option>
                    <option>Chicken Thigh</option>
                    <option>Baked Chicken</option>
                    <option>Quick Chicken</option>
                    <option>Chicken Wing</option>
                    <option>Chicken Salad</option>
                    <option>Quick Pasta</option>
                    <option>Vegetarian Pasta</option>
                    <option>Chicken Pasta</option>
                    <option>Tofu</option>
                    <option>Vegan</option>
                    <option>Chicken Slow Cooker</option>
                    <option>Pork Slow Cooker</option>
                    <option>Slow Cooker Soup</option>
                    <option>Vegetarian Slow Cooker</option>
                    <option>Savory Breakfast</option>
                    <option>Sweet Breakfast</option>
                    <option>Cold Breakfast</option>
                    <option>Hot Breakfast</option>
                    <option>Breakfast Baked Goods</option>
                    <option>Egg</option>
                    <option>Oat</option>
                    <option>Chicken Soup</option>
                    <option>Vegetarian Soup</option>
                </select>                
                <!-- <input name="url">             -->
                <br><br>
                Enter number of comparisons to make:
                <br>    
                <input name="min" placeholder="2">
                <br><br>
                <input type="submit" value="submit">

        </form>
        {% endblock %}
    </body>
</html>