{% extends 'base_template.html' %}
<html>
    
    <body>
        <h1>INGREDIENT_PROTOTYPE LAYOUT</h1>
        Enter urls you would like to run a comparison of
        {% block basic_form %}
        <form action="" method="post">
        {% csrf_token %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        </script>
    </head>
    

        <div style="display: flex;justify-content: center; margin-top: 2%; padding:5%; background-color: #333; color:#dddddd; text-align: center;">
               <div>
                
                    <form  action="" method="post">
                        
                        Enter Ingredients: <br><br>
                        <div id="newinput">
                                <button id="RowAdder" type="button"
                                    class="btn btn-dark">
                                    <span class="bi bi-plus-square-dotted">
                                    </span> Add Ingredient
                                </button>
                                <br><br>
                            </div>
                        <div class="">
                            
                            <div class="col-lg-12">
                                <div id="row">
                                    <div class="input-group m-3">
                                        <div class="input-group-prepend">
                                            <input type="text"
                                            class="form-control m-input"
                                            name="ingredients">
                                            <button class="btn btn-danger"
                                                id="DeleteRow" type="button">
                                                <i class="bi bi-trash"></i>
                                                Delete Ingredient
                                            </button>
                                            
                                        </div>
                                        <br>
                                        
                                        
                                        
                                            
                                    </div>
                            
                                    
                                </div>
            
                                
                        </div>
                        Minimum Number of Recipes(Upto 100):<br>
                        <input type="number"
                        name="minimum_recipes">
                        <br>
                    <button id = "bttn"type="submit">submit</button>
                    </form>
                </div>        
            <script type="text/javascript">
        
                $("#RowAdder").click(function () {
                    newRowAdd =
                    '<div id="row"> <div class="input-group m-3">' +
                    '<div class="input-group-prepend">' +
                    '<input type="text" class="form-control m-input" name="ingredients">'+
                    '<button class="btn btn-danger" id="DeleteRow" type="button">' +
                    '<i class="bi bi-trash"></i> Delete Ingredient</button> </div> <br>' +
                    ' </div> </div>';
        
                    $('#newinput').append(newRowAdd);
                });
        
                $("body").on("click", "#DeleteRow", function () {
                    $(this).parents("#row").remove();
                })
            </script>




            
            </form>
        </div>
        {% endblock %}

    </body>
</html>

