{% extends 'base_template.html' %}

        {% block basic_form %}

        <div id="register_f">
        <div>
            <h1>Recipe List for {{name}}</h1><br>
            <hr>
            <br>
        <table>

                <th>Title</th>
                <th>Number of Mentioned Ingredients Used</th>
                <th>Missed Ingredients</th>
                <th>Used Ingredients</th>
                {% for x in final_data %}
                <tr style="height:38px">
                    <td>
                        <a href="/ingredients/food/{{x.id}}">
                            {{x.title}}
                        </a>
                    </td>

                    <td style="text-align: center;">
                    <a href="/ingredients/food/{{x.id}}">
                    {{x.usedIngredientCount}}
                    </a>
                    </td>
                    <td>
                        <a href="/ingredients/food/{{x.id}}">
                        {{x.missedIngredients}}
                        </a>
                    </td>
                    <td>
                        <a href="/ingredients/food/{{x.id}}">
                        {{x.usedIngredients}}
                        </a>
                    </td>
                </tr>
            </a>
                {% endfor %}
            </div>
        </table>
    </div>
                {% endblock %}




    </body>
</html>
