{% extends 'base_template.html' %}

        {% block basic_form %}
        <h1>DATA PRESENTATION PROTOTYPE:</h1>
        <table>
                {% for x in final_data %}    
                <tr>
                    <td>
                    {{x.title}}
                    </td>
                {% endfor %}
                {% for y in instructions %}                 
                    <td>
                    {{y.steps}}
                    </td>
                {% endfor %}
                </tr>
                
            </table>
            <a href="output/output_more/output_more">Show More</a>
        {% endblock %}
        
    </body>
</html>