{% extends 'base_template.html' %}

        {% block basic_form %}
        <h1>DATA PRESENTATION PROTOTYPE:</h1>
        <table>
                   
                <th>Title</th>
                <th>Number of Mentioned Ingredients Used</th>
                <th>Missed Ingredients</th>
                <th>Used Ingredients</th>
                {% for x in final_data %} 
                <tr>
                    <td>
                    {{x.title}}
                    </td>
                    <td>
                    {{x.usedIngredientCount}}
                    </td>
                    <td>
                        {{x.missedIngredients}}
                    </td>
                    <td>
                        {{x.usedIngredients}}
                    </td>
                     <td>
                        <a href="/ingredients/food/{{x.id}}">Know More</a>
                    </td>
                    
                </tr>
                {% endfor %}
                
            </table>
                {% endblock %}
        
    </body>
</html>