{% extends 'base_template.html' %}

{% block basic_form %}

<form action="" method="post"id="register_f">
  <div id=>
    You aren't logged in! Log in or register to use Ingredient Matcher!!!
    <br>
    {% csrf_token %}
        <label for="id_username">Username:</label>


      <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
      <br><br>
    <label for="id_password">Password:</label>

      <input type="password" name="password" autocomplete="current-password" required="" id="id_password"><br>
      <button type="submit"> submit</button>
  </div>
</form>


{% endblock %}
