{% extends 'base_template.html' %}
<html>
    <body>
            {% block basic_form %}

            <form action="" method="post" id="register_f">
                <div style="width:80%;">
                <h1>{{name}}'s Previous Searches</h1> <a href="/accounts/logout" style="text-decoration: none;color:#6d6666;">Logout of Ingredient Matcher </a>
                <br>
                <hr>
                {% for i in userdata %}
                <div style="padding:5%">
                    {{i.ingredients}}
                    <br>
                    {{i.recipe_count}}
                    <br>
                    {%csrf_token%}
                    <a href="/ingredients/output/{{i.ingredients}}/{{i.recipe_count}}" target="_blank" style="text-decoration: none;color:#6d6666;">
                        Go To Query
                    </a>
                    <!-- <a href="#" target="_blank" style="text-decoration: none;color:#6d6666;">
                        Modify Query
                    </a> -->
                    <br><hr>
                </div>
                {% endfor %}
            </div>
            </form>

            {% endblock %}






    </body>
</html>
